.flexx{
height: 96px;
width: 260px;
background-color:white;
border-radius: 25px;
margin: 20px;

}
.dayer-yeloow{
    height: 60px;
    width: 60px;
    background-color:yellow;
    border-radius: 25px;
    float: right;
    overflow:hidden;
     margin: 10px;
}
.dayer-yeloow-child{
    height: 45px;
    width: 45px;
    border-radius: 30px;
   border-style: solid;
border-color: rgb(58, 28, 224);
margin: 5px;
    
}
.text-name{
    height:auto;
    width:auto;
font-size: 15px;  
float:left; 
overflow:hidden; 
text-align: center;
margin: 17px;
}

.kol{
width:auto;
height: 1000px;
background-color:rgb(227, 227, 233);
float: left;
overflow: hidden;
}

        .imge-profile{
            width: 42px;
            height: 42px;
            text-align: center;
        }
        .text-page-asli{
            text-align:right; margin: 5px;        }
            .center-bottom{
                text-align: center;
            }

            .d1{
                height:400px;
                width:600px;
                background-color:rgb(246, 245, 252);
            }