.div-sharj{
    height: auto;
    width: auto;
    background-color:rgb(230, 223, 187);
    margin: 20px;
    padding-top: 10px;


    }
    .text{
        height:auto;
        width:auto;
    
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
}
.img-sharj{
    height: 200px;
    width:200px;
    background-color:rgb(230, 223, 187);
    margin: 20px;
   

}
.div-mos{
    height: auto;
    width: auto;
    background-color :darkorange;
    left:0;
    text-align: center;
   

}
.tx-h5{
    color:white;
    text-align: center;
    padding: 5px;
}