.flex1{
    height: 150px;
    width: 100%;
    background-color: yellow;

    border-radius: 10%;
   
    border-radius: 10%;
    background-image: url('./img/reactirancel.jpg');
    background-size:cover;
    
}

.tx-h1{
  
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
opacity:1.0;
float: left;
}
